#home-cntr {
	position: relative;
	width: 100%;
	height: 100%;
	
	#left-cntr, #right-cntr {
		display: inline-block;
		vertical-align: top;
		position: relative;
		min-height: $main-cntr-min-height;
	}
	
	#left-cntr {
		width: 700px;
		overflow-x: hidden;
	}
	
	#right-cntr {
		width: 399px;
		border-left: 1px solid $outline-color;
		overflow-x: hidden;
	}
	
	.header-cntr, .search-cntr {
		padding: 10px;
		height: 40px;
		width: calc(100% - 20px);
		border-bottom: 1px solid $outline-color;
		font-family: $primary-font, sans-serif;
	}
	
	.header-cntr {
		padding-top: 6px;
		padding-bottom: 14px;
		padding-left: 20px;
		width: calc(100% - 30px);
		font-size: 36px;
	}
	
	.search-cntr {
		position: relative;
	}
}
