#nav-bar-top {
	position: relative;
	height: 100px;
	width: 100%;
	
	.top-cntr, .bottom-cntr {
		position: relative;
		width: 100%;
	}
	
	.top-cntr {
		height: 60%;
		background-color: $navbar-primary-color;
		
		.icon {
			position: absolute;
			left: calc(50% - 550px);
			width: 277px;
			height: 60px;
			
			background: url(../res/logo/logo.png) no-repeat center center;
			background-size: cover;
			cursor: pointer;
		}
	}
	
	.bottom-cntr {
		height: 40%;
		background-color: $navbar-secondary-color;
		
		.nav-btns-cntr {
			width: 1100px;
			margin-left: calc(50% - 550px);
			.nav-season-btn {
				display: inline-block;
				width: auto;
				padding: 10px 10px;
				padding-bottom: 6px;
				height: 20px;
				cursor: pointer;
				
				color: lighten($navbar-secondary-color, 25%);
				font-family: $primary-font, sans-serif;
				font-weight: bold;
				border-bottom: 4px solid;
				border-color: $navbar-secondary-color;
				margin-right: 10px;
				
				&:hover {
					color: #fff;
					border-color: #fff;
				}
			}
			
			.active {
				.nav-season-btn {
					color: #fff;
					border-color: #fff;
				}
			}
		}
	}
}
