#loading-screen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width:  100vw;
	background: #272727;
	
	.loading-outer {
		position: absolute;
		max-width: 450px;
		min-width: 250px;
		width: 100%;
		padding-bottom: calc(22.22222222% + 30px); 
		left: 50%;
		top: 50%;
		transform: translateX(-50%);
		
		.loading-inner {
			position: absolute;
			width: 100%;
			height: 100%;
			max-height: 130px;
			min-height: 40px;
			transform: translateY(-50%);
			
			
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: calc(100% - 30px);
				
				background: url(./res/logo/logo.png) no-repeat center center;
				background-size: cover;
			}
			
			&:after {
				content: 'Loading content';
				bottom: 0;
				position: absolute;
				margin: 0;
				width: 100%;
				height: 40px;
				left: calc(50% - 120px);
				color: #fff;
				font-family: $primary-font;
				font-size: 32px;
				animation: loading-content-animation 1s linear infinite;
			}
		}
	}
}

@keyframes loading-content-animation {
	0% {
		content: 'Loading content';
	}
	25% {
		content: 'Loading content.';
	}
	50% {
		content: 'Loading content..';
	}
	75% {
		content: 'Loading content...';
	}
}
