$table-color-primary: #efefef;
$table-color-secondary: lighten($navbar-secondary-color, 50%);
$winloss-loss-color: $navbar-primary-color;
$winloss-win-color: $navbar-secondary-color;
$winloss-font-color: lighten($navbar-secondary-color, 50%);

#player-table-cntr-outer {
	position: relative;
	width: calc(100% - 40px);
	padding: 20px;
	
	.player-table-title {
		position: absolute;
		top: 20px;
		width: calc(100% - 40px);
		font-family: $primary-font;
		font-size: 24px;
		padding-bottom: 5px;
		text-align: center;
	}

	#player-table-cntr-inner {
		position: relative;
		font-family: $secondary-font;
		font-size: 12px;
		padding-top: 74px;
		
		.player-table-row,
		#player-table-header {
			width: calc(100% - 20px);
			height: 19px;
			padding: 10px;
			overflow: hidden;
			margin-top: 2px;
			
			.rank, .name, .elo, .winloss {
				display: inline-block;
				text-align: center;
				margin-right: 20px;
			}
			
			.rank {
				width: calc(15% - 20px);
			}
			
			.name {
				width: calc(33.75% - 20px);
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				vertical-align: bottom;
				text-align: left;
			}
			
			.elo {
				width: calc(15% - 20px);
			}
			
			.winloss {
				width: 36.25%;
				margin: 0;
			}
		}
		
		.player-table-row {
			.winloss {
				position: relative;
				vertical-align: top;
				margin: 0;
				font-size: 12px;
				font-weight: bold;
				
				.winloss-bar {
					position: absolute;
					width: calc(100% - 30px);
					height: 24px;
					top: -3px;
					background-color: $winloss-loss-color;
					border: solid 1px $outline-color;
					border-radius: 3px;
					overflow: hidden;
					color: $winloss-font-color;
					
					.txt-cntr {
						position: absolute;
						height: 100%;
						width: 100%;
						
						.txt {
							position: absolute;
							font-size: 9px;
							top: 6px;
							
							&.left {
								left: 4px;
								text-align: left;
							}
							
							&.right {							
								right: 4px;
								text-align: right;
							}
						}
					}
					
					.win-bar {
						position: absolute;
						width: 50%;
						height: 100%;
						overflow: hidden;
						top: 0px;
						background-color: $winloss-win-color;
					}
				}
				
				.winloss-rate {
					position: absolute;
					right: -11px;
					top: 4px;
					text-align: center;
					width: 40px;
					font-size: 9px;
				}
			}
		}
		
		.player-table-row {
			background-color: $table-color-primary;
			
			&.alt {
				background-color: $table-color-secondary;
			}
			
			.rank, .name, .elo {
				margin-top: 3px;
			}
		}
		
		#player-table-header {
			position: absolute;
			top: -30px;
			font-family: $primary-font;
			background-color: $primary-color-layout;
			border-bottom: solid 2px $outline-color;
			padding-bottom: 2px;
			padding-top: 63px;
		}
	}
}

@include mq("mobile", min) {
	#player-table-cntr-outer {
		#player-table-cntr-inner {
			.player-table-title {
				text-align: left;
			}
			
			.player-table-row,
			#player-table-header {
				font-size: 16px;
				margin-top: 0px;
				
				.rank {
					width: calc(10% - 20px);
				}
				
				.winloss {
					width: calc(41.25% - 10px);
				}
			}
			
			.player-table-row {
				.rank, .name, .elo {
					margin-top: 0px;
				}
				
				.winloss {
					.winloss-bar {
						width: calc(100% - 40px);
						top: -4px;
						
						.txt-cntr {
							.txt {
								font-size: 12px;
								top: 5px;
							}
						}
					}
					
					.winloss-rate {
						font-size: 12px;
						top: 2px;
					}
				}
			}
		}
	}
}

@include mq("main-cntr", min) {
	#player-table-cntr-outer {
		#player-table-cntr-inner {
			.player-table-row,
			#player-table-header {
				.rank {
					width: 40px;
				}
				
				.name {
					width: 115px;
				}
				
				.elo {
					width: 40px;
				}
				
				.winloss {
					width: 134px;
				}
			}
		}
	}
}
