#games-table-cntr-outer, #current-games-table-cntr-outer {
	position: relative;
	width: calc(100% - 40px);
	padding: 20px;
	
	.cntr-title {
		position: absolute;
		top: 20px;
		width: calc(100% - 40px);
		font-family: $primary-font;
		font-size: 24px;
		padding-bottom: 5px;
		text-align: center;
	}
	
	#games-table-cntr-inner, #current-games-table-cntr-inner {
		position: relative;
		font-family: $secondary-font;
		font-size: 12px;
		padding-top: 74px;
		
		.table-row, .table-header {
			width: calc(100% - 20px);
			padding: 10px;
			padding-top: 18px;
			padding-bottom: 3px;
			overflow: hidden;
			
			.match, .team1, .scores, .team2 {
				display: inline-block;
				text-align: center;
				margin-right: 20px;
			}
			
			.match {
				width: calc(10% - 20px);
			}
			
			.team1, .team2 {
				width: calc(35% - 10px);
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				vertical-align: middle;
			
				.player {
					margin-bottom: 5px;
					
					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
			
			.team2 {
				margin-right: 0px;
			}
			
			.scores {
				width: calc(20% - 20px);
			}
		}
		
		.table-row {
			height: 90px;
			background-color: $table-color-primary;
			
			&.alt {
				background-color: $table-color-secondary;
			}
		}
		
		.table-header {
			height: 19px;
			position: absolute;
			top: -30px;
			font-family: $primary-font;
			background-color: $primary-color-layout;
			border-bottom: solid 2px $outline-color;
			padding-top: 63px;
			padding-bottom: 2px;
			
			.team1, .team2 {
				vertical-align: top;
			}
		}
	}
}

#current-games-table-cntr-outer {
	border-bottom: solid 1px $outline-color;
}

@inclue mq("mobile", min) {
	#games-table-cntr-outer, #current-games-table-cntr-outer {
		.cntr-title {
			text-align: left;
		}
		
		#games-table-cntr-inner, #current-games-table-cntr-inner {
			font-size: 16px;
			
			.table-row {
				padding-top: 11px;
				padding-bottom: 5px;
			}
		}
	}
}

@include mq("main-cntr", min) {
	#games-table-cntr-outer, #current-games-table-cntr-outer {
		.cntr-title {
			text-align: left;
		}
		
		.table-row, .table-header {
			.match {
				width: 50px;
			}
			
			.team1, .team2 {
				width: 200px;
			}
			
			.scores {
				width: 60px;
			}
		}
	}
}

