#games-table-cntr-outer, #current-games-table-cntr-outer {
	position: relative;
	width: calc(100% - 40px);
	padding: 20px;
	
	.cntr-title {
		width: 100%;
		font-family: $primary-font;
		font-size: 24px;
		padding-bottom: 5px;
	}
	
	#games-table-cntr-inner, #current-games-table-cntr-inner {
		position: relative;
		font-family: $secondary-font;
		font-size: 16px;
		padding-top: 34px;
		
		.table-row, .table-header {
			width: calc(100% - 20px);
			padding: 10px;
			padding-top: 11px;
			overflow: hidden;
			
			.match, .team1, .scores, .team2 {
				display: inline-block;
				text-align: center;
				margin-right: 20px;
			}
			
			.match {
				width: 50px;
			}
			
			.team1, .team2 {
				width: 200px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				vertical-align: middle;
			
				.player {
					margin-bottom: 5px;
					
					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
			
			.scores {
				width: 60px;
			}
		}
		
		.table-row {
			height: 90px;
			background-color: $table-color-primary;
			
			&.alt {
				background-color: $table-color-secondary;
			}
		}
		
		.table-header {
			height: 19px;
			position: absolute;
			top: 0;
			font-family: $primary-font;
			background-color: $primary-color-layout;
			border-bottom: solid 2px $outline-color;
			padding-bottom: 2px;
		}
	}
}

#current-games-table-cntr-outer {
	border-bottom: solid 1px $outline-color;
}

#games-table-cntr-outer {
}
