// Global UI variables
$primary-color-layout: #ddd;
$primary-gradient-color: #264a21;
$secondary-gradient-color: #365922;
$tertiary-gradient-color: #5b6c51;
$navbar-primary-color: #272727;
$navbar-secondary-color: #558a3e;

// Fonts
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Font colors
$primary-color-font: #ffffff;
$secondary-color-font: #888888;
$outline-color: #c1c1c1;

// Positioning
$main-cntr-min-height: calc(100vh - 100px);

#root, #inferno-root {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	background: $navbar-primary-color;
	
	#background-cntr {
		position: absolute;
		top: 0px;
		bottom: 0px;
		width: 100%;
		
		.left-cntr, .right-cntr {
			position: absolute;
			width: calc(50% - 550px);
			height: 100%;
		}
		
		.left-cntr {
			left: 0;
			
			background: repeating-linear-gradient(100deg,
				$primary-gradient-color,
				$primary-gradient-color 200px,
				$tertiary-gradient-color 200px,
				$tertiary-gradient-color 202px,
				$secondary-gradient-color 202px,
				$secondary-gradient-color 402px,
				$tertiary-gradient-color 402px,
				$tertiary-gradient-color 404px
			);
		}
		
		.right-cntr {
			right: 0;
			
			background: repeating-linear-gradient(80deg,
				$primary-gradient-color,
				$primary-gradient-color 200px,
				$tertiary-gradient-color 200px,
				$tertiary-gradient-color 202px,
				$secondary-gradient-color 202px,
				$secondary-gradient-color 402px,
				$tertiary-gradient-color 402px,
				$tertiary-gradient-color 404px
			);
		}
	}
	
	#main-cntr {
		position: relative;
		background-color: $primary-color-layout;
		left: calc(50% - 550px);
		width: 1100px;
		min-height: $main-cntr-min-height;
	}
}

// Loading
@import "components/Loading/loading";

// Minor Components - Can overwrite these styles
@import "components/SearchBar/searchBar";

// Major Components - Will overwrite other styles
@import "components/NavbarTop/navbarTop";
@import "components/Home/home";
@import "components/Season/season";
